<footer>
	<ul class = "ul_inline">
		<li>&copy;Copyright 2011 The Art Connoisseurs</li>
		<li><a href="#" class="fa fa-youtube"></a></li>
		<li><a href="#" class="fa fa-pinterest"></a></li>
		<li><a href="#" class="fa fa-facebook"></a></li>
		<li><a href="#" class="fa fa-twitter"></a></li>
	</ul>
</footer>
