<header>
	<div class="logo">
		<a href="index">
		<img src = "/assets/image/logo.png" alt="logo"> </a>
	</div>
	<div class="name">
		<h1 class ="banner"> The Art Connoisseurs </h1>
		<nav class ="user_specific_nav">
			<ul class = "ul_inline">
				<li><a href="newConnection">Start a connection</a></li>
				<li><a href="savedConnections">Login</a></li>
				<li><a href="savedConnections">Sign up</a></li>
			</ul>
		</nav>
	</div>
</header>
