<header>
	<div class="logo">
		<a href="index">
		<img src = "/assets/image/logo.png" alt="logo"> </a>
	</div>
	<div class="name">
		<h1 class ="banner"> The Art Connoisseurs </h1>
		<nav class ="user_specific_nav">
			<ul class = "ul_inline">
				<li><a href="/newConnection">Start a connection</a></li>
				<% if(loggedIn) { %>
					<li><a href="/savedConnections/myConnections">My Connections</a></li>
					<li><a href="/savedConnections/signout">Sign Out</a></li>
				<% } else { %>
					<li><a href="/login">Login</a></li>
					<li><a href="/login">Sign Up</a></li>
				<% } %>
			</ul>
		</nav>
	</div>
</header>
