<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset = "UTF-8">
			<title>About Us</title>
			<link rel="stylesheet" type="text/css" href="/assets/basicStyle.css">
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		</head>
		<body>
      <% include partials/header.ejs %>
			<% include partials/navigation.ejs %>

			<main>
				<div class = "content">
					<div class="image_section">
						<img src = "/assets/image/about_img.png" alt="all_art">
					</div>

					<div class = "intro_section">
						<h1> About Us </h1>
						<br>
						<p> The Art Connoisseurs vision is to bring back the artistic glory of our ancestors by providing an apt learning platform,
						which celebrates art and artists. The academy was founded in the year 2011 with the intention of promoting art in the beautiful city of Charlotte.
						Our objective is to spread knowledge about art and help beginners and artists of any genre extend their horizons to other genres as well.</p>
						<br>
						<p> In short, we wanted to establish The Art Connoisseurs as a place to learn different art forms and connect with likeminded people, who share passion for art.
						</p>
						<br>
						<p>
						Whatever may be your passion; whether you are already an artist or someone who wishes to be one; whether you want to pursue art as a career or want to take it up as hobby;
						whether you have interest in art, or you want to try something new in your life, a new form of stress buster, we encourage you to try your hand at any one of our courses.
						You may surprise yourself as your inner artist blooms in front of your eyes! Drop by our academy today, and take the first step in your artistic journey.</p>
					</div>
				</div>
			</main>

      <% include partials/footer.ejs %>
		</body>

	</html>
