<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset = "UTF-8">
			<title>Contact</title>
			<link rel="stylesheet" type="text/css" href="/assets/basicStyle.css">
      <link rel="stylesheet" type="text/css" href="/assets/contact.css">
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		</head>
		<body>
			<% include partials/header.ejs %>
			<% include partials/navigation.ejs %>

			<main>
        <div class = "content">
          <div class = "image_section">
            <iframe src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDR7JI-O7hDaS-7IL9QQ519UozpJT4MIi0&q=516+E.+15th+Street+11C,Charlotte+NC" allowfullscreen>
            </iframe>

          </div>
					<div class = "intro_section">
						<h1> Contact Us </h1>
						<br>
            <p> <i class = "fa fa-calendar"></i> Working Hours: <br> Monday - Saturday : 9:00 am - 5:00 pm</p>
						<br>
            <p> <i class = "fa fa-envelope"></i> E-Mail: artconnoisseurs.info@gmail.com <br> <i class = "fa fa-phone"></i> Phone: +1 (704) 304 1122</p>
            <br>
            <p> <i class = "fa fa-map-marker"></i> Mailing Address: <br> 516 E. 15th Street 11C </p>
            <p> Charlotte, NC 28206 </p>
            <br>
          </div>
        </div>
      </main>

			<% include partials/footer.ejs %>
		</body>
	</html>
