<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset = "UTF-8">
			<title>Home</title>
			<link rel="stylesheet" type="text/css" href="/assets/basicStyle.css">
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		</head>
		<body>
			<% include partials/header.ejs %>
			<% include partials/navigation.ejs %>

			<main>
				<div class = "content">
					<div class="image_section">
						<img src = "/assets/image/intro_img.png" alt="paint brushes">
					</div>

					<div class = "intro_section">
						<p> The Art Connoisseurs was established in 2011 with an aim to offer specialized courses in various fields of art.
						Since it's inception, over 1000 students have succcessfully completed courses across the different genres of art.</p>
						<br>
						<p> The Art Connoisseurs is a pioneer in the field of Art Education, offering a variety of professional art programs with a structured curriculum for its students.
						The academy offers courses in the various art forms – ranging from Drawing and Painting, Pottery, Sculpting, Tanjore Painting, Terracotta Jewellery Making and much more
						</p>
						<br>
						<p>
						Courses at The Art Connoisseurs have been designed with the mission to provide the highest quality art education to the students, supported by world class equipment.
						The students are provided with the right learning atmosphere, expert guidance from professionals and the freedom to identify and explore their artistic spark.
						The courses provide the ideal foundation for a budding artist and also provide an excellent learning avenue for general art enthusiasts and for those who wish to pursue art as a hobby.</p>
					</div>
				</div>
			</main>

			<% include partials/footer.ejs %>
		</body>

	</html>
