<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset = "UTF-8">
			<title>Create Connection</title>
			<link rel="stylesheet" type="text/css" href="/assets/basicStyle.css">
      <link rel="stylesheet" type="text/css" href="/assets/newConnection.css">
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		</head>
		<body>
			<% include partials/header.ejs %>
			<% include partials/navigation.ejs %>

			<main>
        <div class = "form_section">
          <form action = "/saveNewConnection" method = "POST">
            Topic: <input type = "text" name = "topic" placeholder = "Topic">
            <br><br>
            Name: <input type = "text" name = "name" placeholder = "Name">
            <br><br>
            Details: <textarea name="details" rows="4" cols="40" placeholder="Description"></textarea>
            <br><br>
            Where: <input type = "text" name = "where" placeholder = "Location">
            <br><br>
            From: <input type="time" name="from"> - To: <input type="time" name="to">
            <br><br>
            When: <input type="date" name="when">
            <br><br>
            <input type="submit" value="Create Connection">
          </form>
        </div>
      </main>

      <% include partials/footer.ejs %>
    </body>

  </html>
