@charset "UTF-8";

.content1{
width: 50%;
background-color: #e6e7e9;
margin:0;
height: 356px;
display: flex;
}

.content2{
width: 50%;
background-color: #e6e7e9;
margin:0;
height: 356px;
display: flex;
}

.tab{
	margin-top: 60px;
	margin-left: -200px;
}

.tab table{
	border-collapse: collapse;
}

table, th,td {
  border: 1px solid black;
  padding: 5px 10px;
  width: auto;
}

th {
	height: 5px;
	font-weight: bold;
	text-align: center;
}

.update{
  background-color: black;
  border: none;
  color: white;
  padding: 0px 3px;
  text-align: center;
  font-size: 13px;
  cursor: pointer;
}

.delete{
  background-color: black;
  border: none;
  color: white;
  padding: 0px 3px;
  text-align: center;
  font-size: 13px;
  cursor: pointer;
}
